.sort{
  background: #88bdeb;
  width: 100%;
  padding: 10px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: transform .1s linear;
  margin-top: 30px;

  display: flex;
  justify-content: center;

  &:hover{
    transform: scale(1.01);
  }

  &_form{
    text-align: center;
    width: 100%;

    &_title{
      font-size: 1.8rem;
      color: #ffd595;
      margin-bottom: 10px;
    }

    &_decision{
      position: relative;

      display: flex;

      &_choose {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;

        &_choose:last-of-type{
          margin-bottom: 0;
        }

        &_title {
          color: rgba(28, 27, 27, 0.9);

          display: flex;
          align-items: center;
        }

        .sort_choose{
          transition: background-color .2s linear;
          width: 50px;
          height: 25px;
          border: 1px solid;
          border-radius: 50px;
          position: relative;
          background-color: #f0fff0;

          &:hover{
            cursor:pointer;
          }

          .circle{
            width: 50%;
            height: 100%;
            background-color: #ffd595;
            border-radius: 50%;
            transition: transform .1s linear;
          }
        }

        .select{
          background-color: #3bd23b;

          .circle_select{
            transform: translateX(100%);
          }
        }
      }
    }
  }
}